.App {
  position: relative;
  /*
   * text-align: center;
   */
}

.Editor {
  position: relative;
  top: 20px;
  left: 20px;
  /*
   * background-color: blue;
    height: 20px;
    width: 240px;  
   */
  background-color: hsla(0, 100%, 50%, 0.3);


}

.InputForm {
  position: relative;
  background-color: hsla(0, 80%, 10%, 0.3);
  /*
    top: 0px;
    left: 240px;
   */
}


.MemberTable {
  position: relative;
  top: 40px;
  left: 20px;
  /*
  background-color: green;
  height: 120px;
  width: 240px;
   */
  background-color: hsla(0, 100%, 70%, 0.3);

}
@keyframes App-logo-spin {
  from { transform: rotate(0deg); }
  to { transform: rotate(360deg); }
}
